* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;
}

#loginField,
#passwordField,
#loginButton,
#naslov,
#opis {
    border-radius: 10px;
}

h2 {
    padding: 20px 0px;
}

select {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: lightgray;
    color: #655560;
}

.forms {
    padding: 10px;
    min-width: 300px;
}

.forms input[type="text"] {
    margin-top: 20px;
}

.forms button {
    margin-top: 10px;
}

#pretraga {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    padding: 0 10px;
    border-radius: 10px;
    background-color: lightgray;
}

#pretraga::placeholder {
    color: #655560;
}

.content {
    width: 1520px;
    margin: 0 auto;
}

.flexed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    padding: 10px;
}

.form .form-wrap {
    width: 100%;
    margin-bottom: 10px;
}

.form .form-wrap label {
    display: block;
    padding: 5px 0;
    color: #333;
}

.form .form-wrap .input-field {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.form .form-wrap .input-field:focus {
    box-shadow: 0px 1px 12px 2px #655560;
    transition: box-shadow 0.4s ease-in-out;
}

.form .form-wrap textarea.input-field {
    height: 200px;
    padding: 10px;
    resize: none;
}

#SubmitMessage {
    padding: 0 10px;
}

.button {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.button.primary {
    background: #655560;
    color: #fff;
    border-color: #655560;
}

.button.primary:hover {
    box-shadow: 1px 1px 4px rgba(135, 140, 143, 0.7);
    transition: box-shadow 0.4s ease-in;
}

.product-modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(252, 247, 255, 0.4);
    overflow: hidden;
    z-index: 99999;
}

.product-modal .modal-window {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 2px 2px 19px 9px #999;
    display: flex;
    flex-direction: column;
}

.product-modal .modal-window .close-button {
    font-size: 50px;
    position: absolute;
    right: 10px;
}

.product-modal .modal-window .close-button:hover {
    cursor: pointer;
    color: #333;
}

.product-modal .modal-window .modal-header {
    width: 100%;
    padding: 20px;
}

.product-modal .modal-window .modal-header h3 {
    font-size: 30px;
}

.product-modal .modal-window .modal-body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    flex-grow: 1;
}

.product-modal .modal-window .modal-body .left {
    width: 50%;
    text-align: center;
    overflow-y: auto;
}

.product-modal .modal-window .modal-body .left img {
    max-width: 70%;
}

.product-modal .modal-window .modal-body .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .product-modal .modal-window .modal-body .right {
        margin-bottom: 50px;
    }
}

.product-modal .modal-window .modal-body .right p {
    padding: 5px 0;
    font-size: 14px;
}

.product-modal .modal-window .modal-body .right p span {
    font-weight: bold;
}

.product-modal .modal-window .modal-body .right p.ocena {
    font-size: 19px;
    color: #cfb20c;
    padding: 10px 0;
}

.product-modal .modal-window .modal-body .right p.cena {
    padding: 20px 0;
    font-size: 22px;
    background: #655560;
    color: #fff;
    text-align: center;
    box-shadow: 1.5px 1.5px 4px #999;
}

.product-modal .modal-window .modal-body .right p.cena::after {
    position: absolute;
    width: 20px;
    height: 100%;
    content: "";
    background: #655560;
    top: 0;
    right: -20px;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    padding-top: 65px;
}

#topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #A4969B;
    padding: 4px 0;
    z-index: 9999;
}

#topbar .content {
    display: flex;
    padding: 4px 0;
    align-items: center;
    justify-content: space-between;
}

#topbar #prikazi {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    padding: 3px;
}

#topbar #prikazi div {
    width: 100%;
    height: 3px;
    margin: 3px auto;
    background-color: #fff;
}

#topbar #prikazi:hover {
    cursor: pointer;
}

#topbar #prikazi:hover div {
    opacity: 0.8;
}

#topbar #logo {
    padding: 10px 40px;
}

@media screen and (max-width: 550px) {
    #topbar #logo h1 {
        font-size: 14px;
    }
}

#topbar #logo a {
    color: #fff;
}

#topbar #logo a:hover {
    opacity: 0.9;
}

#navbar {
    position: fixed;
    top: 75px;
    left: -250px;
    width: 250px;
    height: calc(100% - 65px);
    background: #8a8a8a;
    transition: left 0.4s;
    z-index: 999;
}

@media screen and (max-width: 550px) {
    #navbar {
        top: 55px;
        height: calc(100% - 55px);
    }
}

#navbar ul {
    width: 100%;
    text-align: center;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    font-size: 16px;
    border-bottom: 2px solid rgba(252, 247, 255, 0.4);
    color: #fff;
}

#navbar ul li a:hover {
    background-color: #655560;
}

#navbar ul li a i {
    display: block;
    font-size: 50px;
    margin-bottom: 5px;
}

@keyframes slider {
    0% {
        left: -15000px;
    }
    5% {
        left: 0px;
    }
    95% {
        left: 0px;
    }
    100% {
        left: 15000px;
    }
}

#formButton {
    transform: translateX(-50%);
    position: absolute;
    top: 75px;
    left: 50%;
    background: #655560;
    border: none;
    padding: 15px 25px;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    z-index: 9;
}

@media screen and (max-width: 550px) {
    #formButton {
        top: 55px;
    }
}

@media screen and (max-width: 800px) {
    #myChart {
        display: none!important;
    }
}

#omot {
    width: 100%;
    margin: 10px auto 0 auto;
    transition: padding 0.4s;
}

#omot header {
    width: 1280px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 1500px) {
    #omot header {
        width: 100%;
        height: 300px;
    }
}

#omot header .inner-header {
    display: flex;
    position: absolute;
    left: 0;
    transition: left 0.4s ease-in;
}

#omot header .inner-header .header-content {
    position: relative;
}

#omot header .inner-header .header-content .header-content-text {
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    color: #fff;
    padding: 5px;
    background-color: rgba(252, 247, 255, 0.4);
}

#omot header .inner-header .header-content .header-content-text h2 {
    font-size: 29px;
    padding: 10px;
}

#omot header .inner-header .header-content .header-content-text p {
    padding: 5px;
}

#omot header .arrow {
    position: absolute;
    z-index: 1;
    width: 5%;
    height: 100%;
    background: rgba(135, 140, 143, 0.7);
    font-size: 50px;
    color: #fff;
}

#omot header .arrow i {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

#omot header .arrow:hover {
    background: rgba(252, 247, 255, 0.4);
    transition: backgorund 0.6s;
    cursor: pointer;
}

#omot header .arrow.arrow-right {
    right: 0;
}

#omot #side-form {
    height: 0;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

#omot #side-form.open {
    height: 350px;
}

@media screen and (max-width: 700px) {
    #omot #side-form.open {
        height: 450px;
    }
}

#omot #side-form h2 {
    padding: 10px;
}

#omot section h2 {
    padding: 20px 0;
    border-bottom: 1px solid #A4969B;
    margin-bottom: 20px;
}

#omot #prikazProizvoda {
    padding: 20px 0;
}

#omot .karte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#omot .karte .card {
    width: 24%;
    margin: 4px;
    padding: 10px;
    box-shadow: 2px 2px 8px #999;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    transition: transform 0.4s;
}

#omot .karte .card .card-image {
    width: 40%;
    z-index: 2;
}

#omot .karte .card .card-image img {
    width: 100%;
    height: auto;
    z-index: 2;
}

#omot .karte .card .card-text {
    width: 60%;
    padding: 3px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#omot .karte .card .card-text h4,
#omot .karte .card .card-text p {
    padding: 5px 0;
}

#omot .karte .card .card-text h4 {
    font-size: 24px;
}

#omot .karte .card .card-text .cena {
    font-size: 19px;
    font-weight: bold;
    color: #655560;
    width: 100%;
    bottom: 0;
    background: #ccc;
}

#omot .karte .card .card-text .ocena {
    font-size: 16px;
    color: #cfb20c;
    font-weight: bold;
    right: 0px;
    bottom: 30px;
    text-align: right;
    z-index: 3;
}

#omot .karte .card .card-text small {
    display: block;
    padding: 2px;
    text-align: left;
    font-size: 10px;
}

#omot .karte .card .card-text small span {
    font-weight: bold;
}

#omot .karte .card:hover {
    z-index: 2;
    background: #fff;
    cursor: pointer;
    transform: scale(1.05);
}

#omot #footer {
    width: 100%;
    padding: 20px;
    background: #A4969B;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

#omot #footer #social {
    padding: 10px;
}

#omot #footer #social a {
    display: inline-block;
    color: #fff;
    font-size: 26px;
    padding: 5px 30px;
    transition: color 0.4s;
}

#omot #footer #social .facebook:hover {
    color: #155fce;
}

#omot #footer #social .twitter:hover {
    color: #17aec2;
}

#omot #footer #social .instagram:hover {
    color: #af0840;
}

#omot #footer ul {
    padding: 10px;
}

#omot #footer ul li {
    display: inline;
}

#omot #footer ul li a {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font-size: 15px;
}

#omot #footer ul li a:hover {
    color: #999;
}

#omot #footer p {
    padding: 10px;
}

@media screen and (max-width: 1700px) {
    .content {
        width: 1400px;
    }
}

@media screen and (max-width: 1500px) {
    .content {
        width: 70%;
    }
    #omot header .inner-header .header-content {
        position: relative;
    }
    #omot header .inner-header .header-content .header-content-text {
        padding: 0 10px;
        text-align: left;
    }
    #omot header .inner-header .header-content .header-content-text h2 {
        font-size: 24px;
        padding: 10px 30px;
    }
    #omot header .inner-header .header-content .header-content-text p {
        font-size: 14px;
        width: 50%;
        padding: 5px 30px;
        word-break: keep-all;
    }
    #omot header .arrow {
        width: 30px;
    }
    #omot .karte .card {
        width: 33%;
    }
    #omot .karte .card .card-text h4 {
        font-size: 18px;
    }
    #omot .karte .card .card-text .cena {
        font-size: 15px;
    }
    #omot .karte .card .card-text .ocena {
        font-size: 13px;
    }
    #omot .karte .card .card-text small {
        font-size: 8px;
    }
    #omot .karte .card .card-text small span {
        font-weight: bold;
    }
}

@media screen and (max-width: 1200px) {
    #omot header .inner-header .header-content {
        position: relative;
    }
    #omot header .inner-header .header-content .header-content-text {
        padding: 0 10px;
        text-align: left;
    }
    #omot header .inner-header .header-content .header-content-text h2 {
        font-size: 21px;
        padding: 10px 30px;
    }
    #omot header .inner-header .header-content .header-content-text p {
        font-size: 12px;
        width: 30%;
        padding: 5px 30px;
        word-break: keep-all;
    }
    #omot header .arrow {
        width: 30px;
    }
    #omot .karte .card {
        width: 48%;
    }
    #omot .karte .card .card-image {
        overflow: hidden;
    }
    #omot .karte .card .card-text h4 {
        font-size: 18px;
    }
    #omot .karte .card .card-text .cena {
        font-size: 15px;
    }
    #omot .karte .card .card-text .ocena {
        font-size: 13px;
    }
    #omot .karte .card .card-text small {
        font-size: 8px;
    }
    #omot .karte .card .card-text small span {
        font-weight: bold;
    }
}

@media screen and (max-width: 800px) {
    .content {
        width: 90%;
    }
    .product-modal .modal-window .close-button {
        font-size: 35px;
    }
    .product-modal .modal-window .modal-header {
        width: 100%;
        padding: 10px;
    }
    .product-modal .modal-window .modal-header h3 {
        font-size: 24px;
    }
    .product-modal .modal-window .modal-body {
        display: block;
    }
    .product-modal .modal-window .modal-body .left {
        width: 100%;
    }
    .product-modal .modal-window .modal-body .right {
        width: 100%;
        padding: 10px;
    }
    .product-modal .modal-window .modal-body .right p {
        padding: 3px 0;
        font-size: 12px;
    }
    .product-modal .modal-window .modal-body .right p span {
        font-weight: bold;
    }
    .product-modal .modal-window .modal-body .right p.ocena {
        font-size: 16px;
        padding: 5px 0;
    }
    .product-modal .modal-window .modal-body .right p.cena {
        padding: 10px 0;
        font-size: 16px;
    }
    #omot .flexed {
        display: block;
    }
    #omot header {
        width: 100%;
    }
    #omot header .inner-header {
        width: 100%;
    }
    #omot #side-form {
        width: 100%;
    }
    #omot .karte .card {
        width: 90%;
    }
    #omot .karte .card .card-text h4 {
        font-size: 16px;
    }
    #omot .karte .card .card-text .cena {
        font-size: 13px;
    }
    #omot .karte .card .card-text .ocena {
        font-size: 11px;
    }
    #omot .karte .card .card-text small {
        font-size: 8px;
    }
    #omot .karte .card .card-text small span {
        font-weight: bold;
    }
    #omot #footer {
        padding: 10px;
    }
    #omot #footer #social {
        padding: 5px;
    }
    #omot #footer #social a {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        padding: 5px 20px;
        transition: color 0.4s;
    }
    #omot #footer #social .facebook:hover {
        color: #155fce;
    }
    #omot #footer #social .twitter:hover {
        color: #17aec2;
    }
    #omot #footer #social .instagram:hover {
        color: #af0840;
    }
    #omot #footer ul {
        padding: 10px;
    }
    #omot #footer ul li {
        display: inline;
    }
    #omot #footer ul li a {
        display: inline-block;
        padding: 5px 15px;
        color: #fff;
        font-size: 13px;
    }
    #omot #footer ul li a:hover {
        color: #999;
    }
    #omot #footer p {
        padding: 10px;
    }
}

@media screen and (max-width: 500px) {
    .product-modal .modal-window .close-button {
        font-size: 35px;
    }
    .product-modal .modal-window .modal-header {
        width: 100%;
        padding: 10px;
    }
    .product-modal .modal-window .modal-header h3 {
        font-size: 18px;
    }
    .product-modal .modal-window .modal-body {
        display: block;
    }
    .product-modal .modal-window .modal-body .left {
        width: 100%;
    }
    .product-modal .modal-window .modal-body .right {
        width: 100%;
        padding: 10px;
    }
    .product-modal .modal-window .modal-body .right p {
        padding: 3px 0;
        font-size: 12px;
    }
    .product-modal .modal-window .modal-body .right p span {
        font-weight: bold;
    }
    .product-modal .modal-window .modal-body .right p.ocena {
        font-size: 16px;
        padding: 5px 0;
    }
    .product-modal .modal-window .modal-body .right p.cena {
        padding: 10px 0;
        font-size: 16px;
    }
    #omot #footer {
        padding: 5px;
    }
    #omot #footer #social {
        padding: 5px;
    }
    #omot #footer #social a {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        padding: 5px 15px;
        transition: color 0.4s;
    }
    #omot #footer #social .facebook:hover {
        color: #155fce;
    }
    #omot #footer #social .twitter:hover {
        color: #17aec2;
    }
    #omot #footer #social .instagram:hover {
        color: #af0840;
    }
    #omot #footer ul {
        padding: 10px;
    }
    #omot #footer ul li a {
        display: block;
        padding: 10px 15px;
        color: #fff;
        font-size: 13px;
    }
    #omot #footer ul li a:hover {
        color: #999;
    }
    #omot #footer p {
        padding: 10px;
    }
}